@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
/*****************************************************************************
******************************************************************************
******************************************************************************
                                V A R I A B L E
******************************************************************************
******************************************************************************
******************************************************************************/

$bodyFont: 'Open Sans', sans-serif;
$headingsFont: 'Caveat', cursive;
$font: 16px;
$white: #fff;
$orange: orangered;
$lightGray: #eee;
$gray: #444;
$padding: 70px 0;
$transition: .5s ease;
$borderRadius: 10px;
$boxShadow: 0 0 20px #999;
$textShadow: 0 0 15px #000;
$xl: 768px;

/*****************************************************************************
******************************************************************************
******************************************************************************
                                M I X I N S
******************************************************************************
******************************************************************************
******************************************************************************/

@mixin backgroundImg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin underline {
        content: "";
        display: block;
        height: 2px;
        background: $orange;
        width: 50%;
        margin: 20px auto;
}

@mixin button {
    background: $orange;
    color: $white;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    border: none;
    margin: 30px auto;
    display: block;

    &:hover {
        background: $gray;
        transition: $transition;
    }
}

/*****************************************************************************
******************************************************************************
******************************************************************************
                            B A S I C    S T Y L E
******************************************************************************
******************************************************************************
*****************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font;
    font-family: $bodyFont;
    color: $gray;
    background: $lightGray;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $headingsFont;
    font-weight: 600;
}

.container {
    width: 80%;
    margin: auto;
}
// p::after {
//     content: "";
//     display: block;
//     height: 2px;
//     background: $orange;
//     width: 50%;
//     margin: 20px auto;
// }
/*****************************************************************************
******************************************************************************
******************************************************************************
                            H E A D E R
******************************************************************************
******************************************************************************
*****************************************************************************/

header {
    background: linear-gradient(rgba(0,0,0,.5),rgba(0, 0, 0, 0.5)), url(../img/header.jpg);
    @include backgroundImg();
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 300;
        color: $white;
        text-shadow: $textShadow;
    }
    p::after {
        @include underline();
    }
    h1 {
        font-size: 5rem;
        color: $white;
    }
}

/*****************************************************************************
******************************************************************************
******************************************************************************
                            K U R S
******************************************************************************
******************************************************************************
*****************************************************************************/

.kurs {
    padding: $padding;

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        article {
            flex: 0 0 48%;
            background: $white;
            @media (max-width: $xl) {
                flex: 100%;
                margin-top: 60px;
            }


             img {
                width: 100%;
            }

            p {
                font-size: 1.4rem;
                padding: 10px;
                display: flex;
                justify-content: center;
            }

            .underline {
                @include underline();
            }

            h2 {
                font-size: 3.5rem;
                text-align: center;
            }

            button {
                @include button();
            }
           
        }
    }
}


/*****************************************************************************
******************************************************************************
******************************************************************************
                            C T A
******************************************************************************
******************************************************************************
*****************************************************************************/

.cta {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../img/cta.jpg);
    @include backgroundImg();
    background-position: top;
    background-attachment: fixed;
    color: $white;
    text-align: center;
    padding: 40px;

    p {
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    P::after {
        @include underline();
    }

    h1 {
        font-size: 3.5rem;
    }
}


/*****************************************************************************
******************************************************************************
******************************************************************************
                           G A L E R I J A
******************************************************************************
******************************************************************************
*****************************************************************************/

.galerija {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    article {
        flex: 0 0 47%;
        margin-bottom: 40px;
        padding-top: 100px;

        @media (max-width: $xl) {
            flex: 0 0 100%;
            margin-bottom: 20px;
        }

        img {
            width: 100%;
            border-radius: $borderRadius;
            outline: 15px solid $white;
            &:hover {
                transform: scale(1.1);
                outline: 15px solid $orange;
                transition: $transition;
            }
        }
    }
    
}

/*****************************************************************************
******************************************************************************
******************************************************************************
                        F O O T E R
******************************************************************************
******************************************************************************
*****************************************************************************/

footer {
    background: $gray;
    color: $lightGray;
    text-align: center;
    font-size: 1.4rem;
    padding: 30px;
    margin-top: 70px;
}