@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
/*****************************************************************************
******************************************************************************
******************************************************************************
                                V A R I A B L E
******************************************************************************
******************************************************************************
******************************************************************************/
/*****************************************************************************
******************************************************************************
******************************************************************************
                                M I X I N S
******************************************************************************
******************************************************************************
******************************************************************************/
/*****************************************************************************
******************************************************************************
******************************************************************************
                            B A S I C    S T Y L E
******************************************************************************
******************************************************************************
*****************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #444;
  background: #eee;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Caveat", cursive;
  font-weight: 600;
}

.container {
  width: 80%;
  margin: auto;
}

/*****************************************************************************
******************************************************************************
******************************************************************************
                            H E A D E R
******************************************************************************
******************************************************************************
*****************************************************************************/
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header p {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  text-shadow: 0 0 15px #000;
}
header p::after {
  content: "";
  display: block;
  height: 2px;
  background: orangered;
  width: 50%;
  margin: 20px auto;
}
header h1 {
  font-size: 5rem;
  color: #fff;
}

/*****************************************************************************
******************************************************************************
******************************************************************************
                            K U R S
******************************************************************************
******************************************************************************
*****************************************************************************/
.kurs {
  padding: 70px 0;
}
.kurs .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.kurs .container article {
  flex: 0 0 48%;
  background: #fff;
}
@media (max-width: 768px) {
  .kurs .container article {
    flex: 100%;
    margin-top: 60px;
  }
}
.kurs .container article img {
  width: 100%;
}
.kurs .container article p {
  font-size: 1.4rem;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.kurs .container article .underline {
  content: "";
  display: block;
  height: 2px;
  background: orangered;
  width: 50%;
  margin: 20px auto;
}
.kurs .container article h2 {
  font-size: 3.5rem;
  text-align: center;
}
.kurs .container article button {
  background: orangered;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #999;
  border: none;
  margin: 30px auto;
  display: block;
}
.kurs .container article button:hover {
  background: #444;
  transition: 0.5s ease;
}

/*****************************************************************************
******************************************************************************
******************************************************************************
                            C T A
******************************************************************************
******************************************************************************
*****************************************************************************/
.cta {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/cta.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  padding: 40px;
}
.cta p {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.cta P::after {
  content: "";
  display: block;
  height: 2px;
  background: orangered;
  width: 50%;
  margin: 20px auto;
}
.cta h1 {
  font-size: 3.5rem;
}

/*****************************************************************************
******************************************************************************
******************************************************************************
                           G A L E R I J A
******************************************************************************
******************************************************************************
*****************************************************************************/
.galerija {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.galerija article {
  flex: 0 0 47%;
  margin-bottom: 40px;
  padding-top: 100px;
}
@media (max-width: 768px) {
  .galerija article {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}
.galerija article img {
  width: 100%;
  border-radius: 10px;
  outline: 15px solid #fff;
}
.galerija article img:hover {
  transform: scale(1.1);
  outline: 15px solid orangered;
  transition: 0.5s ease;
}

/*****************************************************************************
******************************************************************************
******************************************************************************
                        F O O T E R
******************************************************************************
******************************************************************************
*****************************************************************************/
footer {
  background: #444;
  color: #eee;
  text-align: center;
  font-size: 1.4rem;
  padding: 30px;
  margin-top: 70px;
}

/*# sourceMappingURL=style.css.map */
